<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MemoryGame.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMemoryGameService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccessibilityService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICommunicationService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMailingService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ITokenGenerator">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IDataValidationService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IScoreService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccessibilityService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICommunicationService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMemoryGameService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMailingService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ITokenGenerator1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IDataValidationService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IScoreService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccessibilityService1"
                contract="Proxy.IAccessibilityService" name="NetTcpBinding_IAccessibilityService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICommunicationService1"
                contract="Proxy.ICommunicationService" name="NetTcpBinding_ICommunicationService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMemoryGameService1"
                contract="Proxy.IMemoryGameService" name="NetTcpBinding_IMemoryGameService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMailingService1"
                contract="Proxy.IMailingService" name="NetTcpBinding_IMailingService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITokenGenerator1"
                contract="Proxy.ITokenGenerator" name="NetTcpBinding_ITokenGenerator1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataValidationService1"
                contract="Proxy.IDataValidationService" name="NetTcpBinding_IDataValidationService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IScoreService1"
                contract="Proxy.IScoreService" name="NetTcpBinding_IScoreService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccessibilityService"
                contract="MemoryGameService.IAccessibilityService" name="NetTcpBinding_IAccessibilityService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICommunicationService"
                contract="MemoryGameService.ICommunicationService" name="NetTcpBinding_ICommunicationService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMemoryGameService"
                contract="MemoryGameService.IMemoryGameService" name="NetTcpBinding_IMemoryGameService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMailingService"
                contract="MemoryGameService.IMailingService" name="NetTcpBinding_IMailingService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITokenGenerator"
                contract="MemoryGameService.ITokenGenerator" name="NetTcpBinding_ITokenGenerator">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IDataValidationService"
                contract="MemoryGameService.IDataValidationService" name="NetTcpBinding_IDataValidationService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IScoreService"
                contract="MemoryGameService.IScoreService" name="NetTcpBinding_IScoreService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <userSettings>
        <MemoryGame.Properties.Settings>
            <setting name="LanguageSettings" serializeAs="String">
                <value>es-MX</value>
            </setting>
        </MemoryGame.Properties.Settings>
    </userSettings>
</configuration>