<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MemoryGame.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
            type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMatchService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccountModifiabilityService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccountVerificationService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPlayerRegistryService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccessibilityService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICommunicationService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMailingService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ITokenGenerator1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IScoreService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccountVerificationService3">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMatchService2">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPlayerRegistryService3">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccessibilityService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccountModifiabilityService2">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccountVerificationService2">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICommunicationService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMailingService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IMatchService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ITokenGenerator">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IScoreService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPlayerRegistryService2">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ITimerService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ITimerService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICardDeckRetrieverService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICardDeckRetrieverService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IJoinGameService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IWaitingRoomService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IJoinGameService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IWaitingRoomService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccountModifiabilityService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccountVerificationService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICardUncoveringService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_ICardUncoveringService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IPlayerRegistryService1">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAccountModifiabilityService3">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccessibilityService"
                contract="MemoryGameService.IAccessibilityService" name="NetTcpBinding_IAccessibilityService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICardDeckRetrieverService"
                contract="MemoryGameService.ICardDeckRetrieverService" name="NetTcpBinding_ICardDeckRetrieverService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountModifiabilityService2"
                contract="MemoryGameService.IAccountModifiabilityService"
                name="NetTcpBinding_IAccountModifiabilityService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountVerificationService2"
                contract="MemoryGameService.IAccountVerificationService" name="NetTcpBinding_IAccountVerificationService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICardUncoveringService"
                contract="MemoryGameService.ICardUncoveringService" name="NetTcpBinding_ICardUncoveringService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICommunicationService"
                contract="MemoryGameService.ICommunicationService" name="NetTcpBinding_ICommunicationService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMailingService"
                contract="MemoryGameService.IMailingService" name="NetTcpBinding_IMailingService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMatchService1"
                contract="MemoryGameService.IMatchService" name="NetTcpBinding_IMatchService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITimerService"
                contract="MemoryGameService.ITimerService" name="NetTcpBinding_ITimerService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITokenGenerator"
                contract="MemoryGameService.ITokenGenerator" name="NetTcpBinding_ITokenGenerator">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IScoreService"
                contract="MemoryGameService.IScoreService" name="NetTcpBinding_IScoreService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayerRegistryService2"
                contract="MemoryGameService.IPlayerRegistryService" name="NetTcpBinding_IPlayerRegistryService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJoinGameService1"
                contract="MemoryGameService.IJoinGameService" name="NetTcpBinding_IJoinGameService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWaitingRoomService1"
                contract="MemoryGameService.IWaitingRoomService" name="NetTcpBinding_IWaitingRoomService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccessibilityService1"
                contract="Proxy.IAccessibilityService" name="NetTcpBinding_IAccessibilityService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICardDeckRetrieverService1"
                contract="Proxy.ICardDeckRetrieverService" name="NetTcpBinding_ICardDeckRetrieverService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountModifiabilityService3"
                contract="Proxy.IAccountModifiabilityService" name="NetTcpBinding_IAccountModifiabilityService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountVerificationService3"
                contract="Proxy.IAccountVerificationService" name="NetTcpBinding_IAccountVerificationService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICardUncoveringService1"
                contract="Proxy.ICardUncoveringService" name="NetTcpBinding_ICardUncoveringService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICommunicationService1"
                contract="Proxy.ICommunicationService" name="NetTcpBinding_ICommunicationService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMailingService1"
                contract="Proxy.IMailingService" name="NetTcpBinding_IMailingService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMatchService2"
                contract="Proxy.IMatchService" name="NetTcpBinding_IMatchService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITimerService1"
                contract="Proxy.ITimerService" name="NetTcpBinding_ITimerService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITokenGenerator1"
                contract="Proxy.ITokenGenerator" name="NetTcpBinding_ITokenGenerator1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IScoreService1"
                contract="Proxy.IScoreService" name="NetTcpBinding_IScoreService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPlayerRegistryService3"
                contract="Proxy.IPlayerRegistryService" name="NetTcpBinding_IPlayerRegistryService1">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJoinGameService"
                contract="Proxy.IJoinGameService" name="NetTcpBinding_IJoinGameService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8090/MemoryGameService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWaitingRoomService"
                contract="Proxy.IWaitingRoomService" name="NetTcpBinding_IWaitingRoomService">
                <identity>
                    <userPrincipalName value="LAPTOP-AASH9DD9\Adair Hernández" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <userSettings>
        <MemoryGame.Properties.Settings>
            <setting name="LanguageSettings" serializeAs="String">
                <value>es-MX</value>
            </setting>
        </MemoryGame.Properties.Settings>
    </userSettings>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
</configuration>