<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
	<appender name="RollingFileAppenderOnServer" type="log4net.Appender.RollingFileAppender">
		<file value="C:\Logs\Services\ServiceLogging.txt"/>
		<appendToFile value="true"/>
		<rollingStyle value="Size"/>
		<maximumFileSize value="10MB"/>
		<maxSizeRollBackups value="5"/>
		<staticLogFileName value="true"/>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date{ABSOLUTE} [%logger] %level - %message%newline%exception"></conversionPattern>
		</layout>
	</appender>
	<root>
		<level value="DEBUG"/>
		<appender-ref ref="RollingFileAppenderOnServer"/>
	</root>
</log4net>
</configuration>
